<h1 id="notice"><%= notice %><h1>
<h1> List of Questions</h1>
<h2> for Problem Set #<%= @problem_set.id %>: <%= @problem_set.title %></h2>
<br/>
<% if @questions.size > 0 %>
  <h3>Questions</h3>
  <ol>
    <% @questions.each do |question| %>
      <li><%= question.problem %>    <%= link_to 'Edit Question', edit_problem_set_question_path(@problem_set.id, question.count) %> | <%= link_to 'Delete Question', [@problem_set, @question], :confirm => 'Are you sure?', :method => :delete %></li>
    <% end %> 
  </ol>
<% else %>
  <% if session[:user_id].to_i == 126126126126126 %>
  <h3> Please add questions to the problem set!</h3>
  <strong><%= link_to 'Add Question', new_problem_set_question_path %></strong>
  <% end %>
<% end %>

<p>
<% if @questions.size > 0 %>
<% if @taken %>
<strong><%= link_to 'View Results', "result/" %></strong>
<% else %>
<strong><%= link_to 'Begin the problem set', problem_set_question_path(@problem_set.id, @questions[0].count) %></strong>
<% end %>
<% end %>

</p>
<br/>
<%= render "foot" %>
