<h1> List of Questions</h1>
<h2> for Problem Set #<%= @problem_set.id %>: <%= @problem_set.title %></h2>
<br/>
<% if @questions.size > 0 %>
  <h3>Questions</h3>
  <ol>
    <% @questions.each do |question| %>
      <li><%= question.problem %></li>
    <% end %>
  </ol>
<% else %>
  <h3> Please add questions to the problem set!</h3>
  <strong><%= link_to 'Add Question', new_problem_set_question_path %></strong>
<% end %>

<br/>
<br/>
<% if @questions.size > 0 %>
<%= link_to 'Begin the problem set', problem_set_question_path(@problem_set.id, @questions[0].count) %> |
<% end %>
<%= link_to 'New Question', new_problem_set_question_path %> | 
<%= link_to 'Back to Problem Set', problem_set_path(@problem_set) %>
