<p id="notice"><%= notice %></p>

<p>
  <b>Question #<%= @question.count %>:</b>
  <%= @question.problem %><br/>
  <% if session[:user_id] %>
    <%= render 'form2' %>
  <% else %>
    <%= render 'login_form' %>
  <% end %>
</p>

<br/>
<%= render "foot" %>
