<% if session[:user_id] %>
<h1>Listing of all Problem Sets</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problem_sets.each do |problem_set| %>
  <tr>
    <td><%= problem_set.title %></td>
    <td><%= link_to 'Take Quiz', problem_set_questions_path(problem_set) %></td>
    <td><%= link_to 'About', problem_set %></td>
    <% if session[:user_id].to_i == 126126126126126 %>
      <td><%= link_to 'Edit', edit_problem_set_path(problem_set) %></td>
      <td><%= link_to 'Destroy', problem_set, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= render "foot" %>
<% else %>
 <%= render 'login_form' %>
<% end %>
