<h1>Problem Set#<%= @problem_set.id %> "<%= @problem_set.title %>" Results</h1>
<h3>for User #<%= session[:user_id] %></h3>

<% @result.each  do |r| %>

  <strong>Question #<%= r[:question].count%></strong>
  <ol type = 'a'>
  <% r[:answers].each_with_index do |res, i| %>
    <li><%= res.answer %> 
        <% if not r[:response].nil? %>
          <% if r[:response].answer_id == res.id %>
            <% if r[:response].result %>
              Correct!
            <% else %>
              Wrong!
            <% end %>
          <% end %>
        <% end %>
    </li> <%= r[:total][i] %><br/>
  <% end %>
  </ol>
<br/>
<% end %>

<%= render "foot" %>
