<h1>Problem Set#<%= @problem_set.id %> "<%= @problem_set.title %>" Results</h1>
<h3>for User #<%= session[:user_id] %></h3>

<% @result.each  do |r| %>
  <strong>Question #<%= r[:question].count%></strong>
  <ol type = 'a'>
  <% for i in r[:answers] %>
    <li><%= i.answer %>
        <%= r[:response].answer_id%>
        <%= i.id %>
        <% if r[:response].answer_id == i.id %>
          <% if r[:response].result %>
            Correct!
          <% else %>
            Wrong!!!!!!!!
          <% end %>
        <% end %>
    </li>
  <% end %>
  </ol>
<br/>
<% end %>

<%= render "foot" %>
