<!DOCTYPE html>
<html>
<head>
  <title>Clicker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if session[:user_id] %> Hi User <%= session[:user_id] %>. <br/>Click to <%= link_to 'Logout', '/logout/' %>
<% end %>

<%= yield %>

</body>
</html>
